{% comment %}
  This section is used in the collection template to render collection page
  listing all products within a collection.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/collection
{% endcomment %}

<h1>{{ collection.title }}</h1>

<div class="collection-products">
  {% paginate collection.products by 20 %}
    {% for product in collection.products %}
      <div class="collection-product">
        {% if product.featured_image %}
          {% render 'image',
            class: 'collection-product__image',
            image: product.featured_image,
            url: product.url,
            width: 400,
            height: 400,
            crop: 'center'
          %}
        {% endif %}
        <div class="collection-product__content">
          <p>{{ product.title | escape | link_to: product.url }}</p>
          <p>{{ product.price | money }}</p>
        </div>
      </div>
    {% endfor %}

    {{ paginate | default_pagination }}
  {% endpaginate %}
</div>

{% stylesheet %}
  .collection-products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    /* display: flex; */
    gap: 20px;
    /* background-color: red; */
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    
  }
  .collection-product {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* background-color: blue; */
  
  }
  .collection-product__image {
    width: 100%;
    height: auto;
  }
  .collection-product__content {
    padding: 1rem 0;
    /* background-color: green; */
  }

  .collection-product__content p:first-child {
    font-weight: bold;  
    font-size: 1.1rem;
    /* background-color: orange; */
    margin-bottom: 8px;
    text-decoration: none;
  }
  .collection-product__content p:last-child {
    color: #555;
    font-size: 0.9rem;
    /* background-color: purple; */
    
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
{% endstylesheet %}

{% schema %}
{
  "name": "t:general.collection",
  "settings": []
}
{% endschema %}
